
<div class="jumbotron center">
	<h1>Freshdesk Analysis</h1>
	<p> This project will generate historical analysis of freshdesk tickets
		 
		<%=link_to "LOG IN","#", class: "btn btn-primary"%>
	</p>
</div>
